name: Terraform Vailidate/Plan/Apply

on:
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

env:
  TF_PLUGIN_CACHE_DIR: ${{ runner.temp }}/terraform-plugin-cache

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Azure login (OIDC)
        uses: Azure/login@v2.3.0
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: HashiCorp - Setup Terraform
        uses: hashicorp/setup-terraform@v3.1.2

      - name: Prepare plugin cache dir
        run: mkdir -p "${TF_PLUGIN_CACHE_DIR}"

      - name: Cache Terraform providers
        uses: actions/cache@v4
        with:
          path: ${{ env.TF_PLUGIN_CACHE_DIR }}
          key: ${{ runner.os }}-tf-plugins-${{ hashFiles('**/.terraform.lock.hcl') }}
          restore-keys: |
            ${{ runner.os }}-tf-plugins-

      - name: Terraform init
        run: |
          terraform init \
          -backend-config="resource_group_name=${{ secrets.TFSTATE_RG }}" \
          -backend-config="storage_account_name=${{ secrets.TFSTATE_STORAGE }}" \
          -backend-config="container_name=${{ secrets.TFSTATE_CONTAINER }}" \
          -backend-config="key=${{ secrets.TFSTATE_KEY }}"

      - name: Terraform format check
        run: terraform fmt -check

      - name: Terraform validate
        run: terraform validate -no-color

  plan:
    needs: validate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Azure login (OIDC)
        uses: Azure/login@v2.3.0
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: HashiCorp - Setup Terraform
        uses: hashicorp/setup-terraform@v3.1.2

      - name: Prepare plugin cache dir
        run: mkdir -p "${TF_PLUGIN_CACHE_DIR}"

      - name: Cache Terraform providers
        uses: actions/cache@v4
        with:
          path: ${{ env.TF_PLUGIN_CACHE_DIR }}
          key: ${{ runner.os }}-tf-plugins-${{ hashFiles('**/.terraform.lock.hcl') }}
          restore-keys: |
            ${{ runner.os }}-tf-plugins-

      - name: Terraform init
        run: |
          terraform init \
          -backend-config="resource_group_name=${{ secrets.TFSTATE_RG }}" \
          -backend-config="storage_account_name=${{ secrets.TFSTATE_STORAGE }}" \
          -backend-config="container_name=${{ secrets.TFSTATE_CONTAINER }}" \
          -backend-config="key=${{ secrets.TFSTATE_KEY }}"

      - name: Terraform plan
        run: terraform plan -input=false -out=tfplan

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v6.0.0
        with:
          name: tfplan
          path: tfplan

      - name: Render plan to job summary
        run: |
          echo "## Terraform plan" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "Show plan" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
          terraform show -no-color tfplan >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY

  apply:
    needs: plan
    runs-on: ubuntu-latest

    environment:
      name: tf-plan-approval
      url: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Azure login (OIDC)
        uses: Azure/login@v2.3.0
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: HashiCorp - Setup Terraform
        uses: hashicorp/setup-terraform@v3.1.2

      - name: Prepare plugin cache dir
        run: mkdir -p "${TF_PLUGIN_CACHE_DIR}"

      - name: Cache Terraform providers
        uses: actions/cache@v4
        with:
          path: ${{ env.TF_PLUGIN_CACHE_DIR }}
          key: ${{ runner.os }}-tf-plugins-${{ hashFiles('**/.terraform.lock.hcl') }}
          restore-keys: |
            ${{ runner.os }}-tf-plugins-

      - name: Terraform init
        run: |
          terraform init \
          -backend-config="resource_group_name=${{ secrets.TFSTATE_RG }}" \
          -backend-config="storage_account_name=${{ secrets.TFSTATE_STORAGE }}" \
          -backend-config="container_name=${{ secrets.TFSTATE_CONTAINER }}" \
          -backend-config="key=${{ secrets.TFSTATE_KEY }}"

      - name: Download the plan artifact
        uses: actions/download-artifact@v7.0.0
        with:
          name: tfplan

      - name: Terraform apply
        run: terraform apply -auto-approve tfplan
